@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext);
@font-face { font-family: "MontserratBold"; src: url('../fonts/Montserrat-Bold.ttf');}
@font-face { font-family: "MontserratSemiBold"; src: url('../fonts/Montserrat-SemiBold.ttf');}
@font-face { font-family: "Montserrat"; src: url('../fonts/Montserrat-Regular.ttf'); font-weight: normal; font-style: normal; font-variant: normal; }

html, body {
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	min-height: 100%;
    
	font-family: "Montserrat";
    line-height: 1.5;
}

/*Navigation bars*/
body > nav {
    position: relative;
    z-index: 2;
    
	height: 72px;
    
    background: orange;
    background: -webkit-linear-gradient(left, #f09819, #ff5858);
    background: -o-linear-gradient(left, #f09819, #ff5858);
    background: -moz-linear-gradient(left, #f09819, #ff5858);
    background: linear-gradient(left, #f09819, #ff5858);
    
	box-shadow:  0px -5px 10px 10px rgba(0, 0, 0, 0.32);
	-webkit-box-shadow:  0px -5px 10px 10px rgba(0, 0, 0, 0.32);
	-moz-box-shadow:  0px -5px 10px 10px rgba(0, 0, 0, 0.32);
	-o-box-shadow:  0px -5px 10px 10px rgba(0, 0, 0, 0.32);
	-ms-box-shadow:  0px -5px 10px 10px rgba(0, 0, 0, 0.32);
}

body > nav > div {
    width: 832px;
    margin: auto;
}

/*Top left logo*/
body > nav > div > a {
	float: left;
    margin-top: 18px;
}

body > nav ul {
}

body > nav + nav ul {
}

body > nav ul li {
}

body > nav a, body > nav a:visited {
}

body > nav a:hover {
}

body > nav input {
}

/*Main header*/
body > header {
    height: 144px;
    background-color: #ff5858;
    
    font-family: "MontserratBold";
    font-size: 48pt;
    color: white;
}

body > header > div {
    width: 832px;
    margin: auto;
    
    padding-top: 20px;
}

body > header a, body > header a:visited {
}

body > header a:hover {
}

/*Main container*/
body > section {
}

.main-container {
	background-color: #fff;
    
    width: 832px;
    
	margin: auto;
    
    font-size: 16pt;
}

.featured {
    width: 100%;
    background-color: #f09819;
    
    padding-top: 48px;
    padding-bottom: 48px;
}

.featured h1 {
    margin-top: 24px;
    margin-bottom: 18px;
    
    font-size: 25pt;
}

.featured > div {
    width: 832px;
    margin: auto;
    
    display: flex;
}

.featured > div > div ~ div {
    flex-shrink: 1;
    background-color: #fff;
    width: 240px;
    height: 240px;
    margin-left: 8px;
}

.featured > div > div:first-child {
    flex-grow: 1;
    color: white;
    font-size: 1.3em;
}

h1 {
    font-family: "MontserratBold";
    font-size: 32pt;
}

h2 {
    font-family: "MontserratBold";
    font-size: 24pt;
}

h3 {
    font-size: 24pt;
}

b {
    font-family: "MontserratBold";
}

.legend {
    font-size: 14pt;
}

.roundedWhite {
    border: 1px solid white;
    padding: 10px;
    border-radius: 25px;
    width: fit-content;
    color: #fff;
    text-decoration: none;
}

.roundedWhite:hover {
    background-color: white;
    color: #f09819;
}

/*Grids*/
.main-container > .grid {
    width: 100%;
    padding-bottom: 48px;
    overflow: hidden;
}

.main-container > .grid > .cat {
    width: 100%;
    height: 48px;
    vertical-align: bottom;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-container > .grid > .cat > div ~ div{
    text-align: right;
}

.main-container > .grid > .cat > div:first-child {
    font-family: "MontserratBold";
}

.main-container > .grid > .content {
    width: 100%;
    display: flex;
    padding-top: 24px;
}

.main-container > .grid > .content > .element {
    display: block;
    text-decoration: none;
    border: none;
    
    height: 240px;
    width: 160px;
    background-color: orange;
    
    flex-shrink: 0;
    
	box-shadow:  0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:  0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:  0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.16);
	-o-box-shadow:  0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.16);
	-ms-box-shadow:  0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.16);
    
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container > .grid > .content > .element:hover {
    box-shadow:  0px 4px 19.6px 0.4px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:  0px 4px 19.6px 0.4px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:  0px 4px 19.6px 0.4px rgba(0, 0, 0, 0.16);
	-o-box-shadow:  0px 4px 19.6px 0.4px rgba(0, 0, 0, 0.16);
	-ms-box-shadow:  0px 4px 19.6px 0.4px rgba(0, 0, 0, 0.16);
}

.main-container > .grid > .content > .element ~ div {
    margin-left: 8px;
}

.main-container > .grid > .content > .element > div ~ div {
    height: 56px;
    background-color: #ff5858;
    color: #fff;
    
    background-clip: content-box;
    padding-top: 184px;
    
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.main-container > .grid > .content > .element > div ~ div:hover {
    height: 68px;
    padding-top: 172px;
}

.main-container > .grid > .content > .element > div > .title {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    
    font-size: 15px;
    
    display: flex;
}

.main-container > .grid > .content > .element > div > .title > div {
    overflow: hidden;
    white-space: nowrap;
}

.main-container > .grid > .content > .element > div > .title > div > div ~ div {
    font-size: 12px;
}

.main-container > .grid > .content > .element > div > .title > .heart {
    width: 50px;
    text-align: right;
    padding-top: 7px;
    font-size: 20px;
}

.main-container > .grid > .content > .element > div > .title a {
    text-decoration: none;
    border: none;
    color: #fff;
}

.main-container > .grid > .content > .element > div > .title a:hover {
    border: none;
}

/*Links*/
.main-container a, .main-container a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #579932;
	border-bottom: 1px solid;
	border-color: rgba(215, 139, 39, 0);
	transition: border-color 200ms;
}

.main-container a:hover {
	border-color: rgba(87, 153, 50, 1);
}

/*Forms*/

/*Remove ugly yellow background on auto-fill fields*/
form input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

.main-container form {
	text-align: center;
}

.main-container form fieldset {
	width: 500px;
	margin: auto;
	background-color: #f5f5f5;
	padding: 10px 10px 20px 10px;
	border-radius: 10px;
	border: 0;
	text-align: left;
	position: relative;
}

form.form-line fieldset {
	display: inline-block;
	width: 300px;
	margin: 5px;
	vertical-align: middle;
}

.main-container form fieldset.inactive:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	display: block;
	z-index: 1;
	background-color: transparent;
	background-color: rgba(255, 255, 255, .5);
	background-image: url(../images/style/splash.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.main-container form legend {
	font-size: 2em;
	margin-bottom: -10px;
}

.main-container form input, .main-container form textarea, .main-container form select {
	outline: none;
	width: 80%;
	height: 32px;
	font-size: 1.3em;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	margin: auto;
	border: 0;
}

.main-container form select {
	padding: 0;
}

.main-container form select option {
	padding: 5px 10px 5px 10px;
}

.main-container form textarea {
	height: 150px;
	resize: none;
}

.main-container form button {
	margin-top: -10px;
}

.main-container form label.label-text {
	display: inline-block;
	width: 200px;
	cursor: pointer;
}

.main-container form label.label-full-line {
	display: block;
	width: 100%;
	float: none;
	text-align: left;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	font-weight: bold;
	margin: 15px;
}

.main-container form input[type="radio"] {
	width: 30px;
	vertical-align: middle;
	cursor: pointer;
}

form .group-inputs .first {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

form .group-inputs .last {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

form .group-inputs .separator {
	display: block;
	height: 0;
	background-color: #fff;
	width: 80%;
	margin: 0 auto 0 auto;
}

form .group-inputs .separator:before {
	content: '';
	display: block;
	position: relative;
	height: 1px;
	width: 70%;
	background-color: #F5f5f5;
	margin: 0 auto 0 auto;
}

form .group-inputs label {
	color: #333;
	cursor: pointer;
	float: left;
	width: 10%;
	height: 42px;
	line-height: 42px;
	text-align: center;
}

form .group-inputs input:focus + label,
form .group-inputs textarea:focus + label,
form .group-inputs select:focus + label {
	color: #579932;
}

.preview-container {
	text-align: center;
	overflow: hidden;
}

.preview-container canvas {
	display: block;
	margin: auto;
	border: 3px solid #000;
}

form.moderation {
	display: inline-block;
}

form.moderation button {
	vertical-align: initial;
	font-size: 1em;
	margin-bottom: 15px;
	padding: 5px;
}

/* Buttons */
button, input[type="button"], .button {
	font-size: 16pt;
    font-weight: semiBold;
	color: #333;
    
	position: relative;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding: 10px;
	border: 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	cursor: pointer;
	background-color: #d1d1ca;
	border-bottom: 2px solid #7d7d7d;
	box-shadow: inset 0 -2px #7d7d7d;
}

button:active, input[type="button"]:active, .button:active {
	top: 1px;
	outline: none;
	box-shadow: none !important;
}

button.orange, input[type="button"].orange, .button.orange {
	color: #fff;
	background-color: #70c641;
	border-bottom: 2px solid #579932;
	box-shadow: inset 0 -2px #579932;
}

.nav-arrows {
    display: flex;
    justify-content: flex-end;
}

.nav-arrows .left-nav {
    flex: 1;
    align-self: flex-start;
}

/* Infos messages */
.info_messages {
	width: 50%;
	margin: 10px auto 10px auto;
	text-align: center;
	padding: 10px;
	display: block;
	position: relative;
	color: #333;
	border: 2px solid #333;
	background-color: #fff;
	font-weight: bold;
	border-top-width: 20px;
	border-radius: 0px;
	box-shadow: 0 0 4px #8d8d8d;
}

.info_messages .fa-stack {
	position: absolute;
	left: -15px;
	top: -25px;
	background-color: #fff;
	border-radius: 50%;
}

.info_messages .fa-stack-1x {
	display: none;
}

.info_messages.error {
	color: #AD0F0F;
	border-color: #AD0F0F;
	background-color: #f4e2e2;
}

.info_messages.error .fa-stack {
	background-color: #f4e2e2;
}

.info_messages.error .fa-exclamation {
	display: inline;
}

.info_messages.warning {
	color: #579932;
	border-color: #579932;
	background-color: #d6fad2;
}

.info_messages.warning .fa-stack {
	background-color: #d6fad2;
}

.info_messages.warning .fa-flash {
	display: inline;
}

.info_messages.success {
	color: #0a8c2d;
	border-color: #0a8c2d;
	background-color: #e8ffd5;
}

.info_messages.success .fa-stack {
	background-color: #e8ffd5;
}

.info_messages.success .fa-check {
	display: inline;
}

/*Profile*/
.profile {
    display: flex;
}

.profile .details {
    padding: 5px 5px 0px 5px;
    margin-left: 10px;
    border: 3px dashed #579932;
    border-radius: 10px;
}

/*Gallery*/
.gallery {
	text-align: center;
	padding: 10px;
}

.gallery .gallery-link, .gallery .gallery-link:visited {
	display: inline-block;
	margin: 5px;
	border: 5px solid #333;
	vertical-align: top;
	background-image: url(../images/style/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.gallery .gallery-link:hover {
	border-color: #579932;
}

.gallery .gallery-link.folder {
	background-image: url(../images/style/folder.png);
	border: 0;
	color: inherit;
}

.gallery-document {
	display: inline-block;
	width: 150px;
	height: 200px;
	margin: 0;
	border: 3px solid #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-document figcaption {
	color: #000;
	background-color: #fff;
	width: 80%;
	margin: auto;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	max-height: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5px 5px 5px;
	opacity: .8;
	transition: opacity 300ms;
}

.folder .gallery-document figcaption {
	margin-top: 75px;
	border-radius: 20px;
	padding: 3px;
	width: 70%;
	transform: rotate(-5deg);
}

.gallery-link:hover figcaption {
	opacity: 1;
}

#detail-image-div {
	width: 100%;
	overflow-x: auto;
    text-align: center;
}

#detail-image {
	position: relative;
}

.commentDiv {
	display: inline-block;
}

.file-description {
    border: 1px dashed #70c641;
    border-radius: 10px;
    vertical-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

.file-description div {
    display: inline;
}

.file-infos {
    display: flex;
    justify-content: space-around;
}

.file-infos .likes{
    text-align: center;
}

/* Avatars */
.mini_avatar {
    width: 40px;
    height: 40px;
}

/* Responsive design*/

@media only screen and (min-width: 1280px) {
    body > nav > div {
        width: 1000px;
    }

    body > header > div {
        width: 1000px;
    }

    .main-container {
        width: 1000px;
    }

    .featured > div {
        width: 1000px;
    }

    .featured > div > div ~ div {
        flex-shrink: 0;
    }
}

@media only screen and (min-width: 1440px) {
    body > nav > div {
        width: 1240px;
    }

    body > header > div {
        width: 1240px;
    }

    .main-container {
        width: 1240px;
    }

    .featured {
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .featured h1 {
        margin-bottom: 36px;
        font-size: 32pt;
    }

    .featured > div {
        width: 1240px;
    }

    .featured > div > div ~ div {
        width: 300px;
        height: 300px;
    }
    
    .main-container > .grid {
        padding-bottom: 56px;
    }

    .main-container > .grid > .cat {
        height: 72px;
    }

    .main-container > .grid > .content > .element {
        height: 300px;
        width: 200px;
    
        box-shadow:  0px 2px 3.76px 0.24px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow:  0px 2px 3.76px 0.24px rgba(0, 0, 0, 0.24);
        -moz-box-shadow:  0px 2px 3.76px 0.24px rgba(0, 0, 0, 0.24);
        -o-box-shadow:  0px 2px 3.76px 0.24px rgba(0, 0, 0, 0.24);
        -ms-box-shadow:  0px 2px 3.76px 0.24px rgba(0, 0, 0, 0.24);
    }

    .main-container > .grid > .content > .element:hover {
        box-shadow:  0px 10px 14.1px 0.9px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow:  0px 10px 14.1px 0.9px rgba(0, 0, 0, 0.24);
        -moz-box-shadow:  0px 10px 14.1px 0.9px rgba(0, 0, 0, 0.24);
        -o-box-shadow:  0px 10px 14.1px 0.9px rgba(0, 0, 0, 0.24);
        -ms-box-shadow:  0px 10px 14.1px 0.9px rgba(0, 0, 0, 0.24);
    }

    .main-container > .grid > .content > .element > div ~ div{
        height: 72px;
        padding-top: 228px;
    }

    .main-container > .grid > .content > .element > div ~ div:hover {
        height: 84px;
        padding-top: 216px;
    }

    .main-container > .grid > .content > .element > div > .title {
        padding-top: 15px;
    }

    .main-container > .grid > .content > .element > div > .title > .heart {
        width: 40px;
    }
}

@media only screen and (min-width: 1920px) {
    body > nav > div {
        width: 1656px;
    }

    body > header > div {
        width: 1656px;
    }

    .main-container {
        width: 1656px;
    }

    .featured > div {
        width: 1656px;
    }
}