@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext);

html, body {
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	min-height: 100%;
	min-width: 1090px;
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	background-image: url(../images/style/background_body.png);
}

/*Navigation bars*/
body > nav {
	background-color: #2b2b2b;
	color: #c7c7c7;
	height: 40px;
	min-width: 930px;
	line-height: 40px;
	padding-left: 40px;
}

/*Left bar*/
body > nav + nav {
	position: absolute;
	left: 0;
	top: 40px;
	padding: 0;
	bottom: 0;
	width: 40px;
	min-width: 40px;
	height: auto;
	text-align: center;
}

/*Top left logo*/
body > nav > a {
	float: left;
}

body > nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

body > nav + nav ul {
	float: none;
}

body > nav ul li {
	margin: 0 5px 0 5px;
	padding: 0;
	list-style: none;
	display: inline-block;
}

body > nav a, body > nav a:visited {
	color: inherit;
	text-decoration: none;
	transition: color 200ms;
}

body > nav a:hover {
	color: #579932;
}

.leftnav_button {
	font-size: 1.5em;
}

body > nav input {
	background-color: #c8c8c8;
	color: #2b2b2b;
	border-radius: 25px;
	border: 0;
	padding: 2px;
}

/*Main header*/
body > header {
	background-color: #70c641;
	height: 145px;
	padding-top: 60px;
	margin-left: 40px;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
}

body > header a, body > header a:visited {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 25px;
}

body > header a:hover {
	background-color: #fff;
	color: #70c641;
}

/*Main container*/
body > section {
	margin-left: 40px;
	position: relative;
	top: -15px;
}
.main-container {
	background-color: #fff;
	padding: 10px;
	min-width: 780px;
	width: 80%;
	margin: auto;
	min-height: 350px;
	-webkit-box-shadow:  0 0 4px #8d8d8d;
	-moz-box-shadow:  0 0 4px #8d8d8d;
	-o-box-shadow:  0 0 4px #8d8d8d;
	-ms-box-shadow:  0 0 4px #8d8d8d;
	box-shadow:  0 0 4px #8d8d8d;
}

/*Links*/
.main-container a, .main-container a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #579932;
	border-bottom: 1px solid;
	border-color: rgba(215, 139, 39, 0);
	transition: border-color 200ms;
}

.main-container a:hover {
	border-color: rgba(87, 153, 50, 1);
}

/*Forms*/

/*Remove ugly yellow background on auto-fill fields*/
form input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

.main-container form {
	text-align: center;
}

.main-container form fieldset {
	width: 500px;
	margin: auto;
	background-color: #f5f5f5;
	padding: 10px 10px 20px 10px;
	border-radius: 10px;
	border: 0;
	text-align: left;
	position: relative;
}

form.form-line fieldset {
	display: inline-block;
	width: 300px;
	margin: 5px;
	vertical-align: middle;
}

.main-container form fieldset.inactive:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	display: block;
	z-index: 1;
	background-color: transparent;
	background-color: rgba(255, 255, 255, .5);
	background-image: url(../images/style/splash.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.main-container form legend {
	font-size: 2em;
	margin-bottom: -10px;
}

.main-container form input, .main-container form textarea, .main-container form select {
	outline: none;
	width: 80%;
	height: 32px;
	font-size: 1.3em;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	margin: auto;
	border: 0;
}

.main-container form select {
	padding: 0;
}

.main-container form select option {
	padding: 5px 10px 5px 10px;
}

.main-container form textarea {
	height: 150px;
	resize: none;
}

.main-container form button {
	margin-top: -10px;
}

.main-container form label.label-text {
	display: inline-block;
	width: 200px;
	cursor: pointer;
}

.main-container form label.label-full-line {
	display: block;
	width: 100%;
	float: none;
	text-align: left;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	font-weight: bold;
	margin: 15px;
}

.main-container form input[type="radio"] {
	width: 30px;
	vertical-align: middle;
	cursor: pointer;
}

form .group-inputs .first {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

form .group-inputs .last {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

form .group-inputs .separator {
	display: block;
	height: 0;
	background-color: #fff;
	width: 80%;
	margin: 0 auto 0 auto;
}

form .group-inputs .separator:before {
	content: '';
	display: block;
	position: relative;
	height: 1px;
	width: 70%;
	background-color: #F5f5f5;
	margin: 0 auto 0 auto;
}

form .group-inputs label {
	color: #333;
	cursor: pointer;
	float: left;
	width: 10%;
	height: 42px;
	line-height: 42px;
	text-align: center;
}

form .group-inputs input:focus + label,
form .group-inputs textarea:focus + label,
form .group-inputs select:focus + label {
	color: #579932;
}

.preview-container {
	text-align: center;
	overflow: hidden;
}

.preview-container canvas {
	display: block;
	margin: auto;
	border: 3px solid #000;
}

form.moderation {
	display: inline-block;
}

form.moderation button {
	vertical-align: initial;
	font-size: 1em;
	margin-bottom: 15px;
	padding: 5px;
}

/* Buttons */
button, input[type="button"], .button {
	position: relative;
	vertical-align: top;
	display: inline-block;
	font-size: 1.4em;
	color: #333;
	text-align: center;
	padding: 10px;
	border: 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	cursor: pointer;
	background-color: #d1d1ca;
	border-bottom: 2px solid #7d7d7d;
	box-shadow: inset 0 -2px #7d7d7d;
}

button:active, input[type="button"]:active, .button:active {
	top: 1px;
	outline: none;
	box-shadow: none !important;
}

button.orange, input[type="button"].orange, .button.orange {
	color: #fff;
	background-color: #70c641;
	border-bottom: 2px solid #579932;
	box-shadow: inset 0 -2px #579932;
}

.nav-arrows {
    display: flex;
    justify-content: flex-end;
}

.nav-arrows .left-nav {
    flex: 1;
    align-self: flex-start;
}

/* Infos messages */
.info_messages {
	width: 50%;
	margin: 10px auto 10px auto;
	text-align: center;
	padding: 10px;
	display: block;
	position: relative;
	color: #333;
	border: 2px solid #333;
	background-color: #fff;
	font-weight: bold;
	border-top-width: 20px;
	border-radius: 0px;
	box-shadow: 0 0 4px #8d8d8d;
}

.info_messages .fa-stack {
	position: absolute;
	left: -15px;
	top: -25px;
	background-color: #fff;
	border-radius: 50%;
}

.info_messages .fa-stack-1x {
	display: none;
}

.info_messages.error {
	color: #AD0F0F;
	border-color: #AD0F0F;
	background-color: #f4e2e2;
}

.info_messages.error .fa-stack {
	background-color: #f4e2e2;
}

.info_messages.error .fa-exclamation {
	display: inline;
}

.info_messages.warning {
	color: #579932;
	border-color: #579932;
	background-color: #d6fad2;
}

.info_messages.warning .fa-stack {
	background-color: #d6fad2;
}

.info_messages.warning .fa-flash {
	display: inline;
}

.info_messages.success {
	color: #0a8c2d;
	border-color: #0a8c2d;
	background-color: #e8ffd5;
}

.info_messages.success .fa-stack {
	background-color: #e8ffd5;
}

.info_messages.success .fa-check {
	display: inline;
}

/*Profile*/
.profile {
    display: flex;
}

.profile .details {
    padding: 5px 5px 0px 5px;
    margin-left: 10px;
    border: 3px dashed #579932;
    border-radius: 10px;
}

/*Gallery*/
.gallery {
	text-align: center;
	padding: 10px;
}

.gallery .gallery-link, .gallery .gallery-link:visited {
	display: inline-block;
	margin: 5px;
	border: 5px solid #333;
	vertical-align: top;
	background-image: url(../images/style/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.gallery .gallery-link:hover {
	border-color: #579932;
}

.gallery .gallery-link.folder {
	background-image: url(../images/style/folder.png);
	border: 0;
	color: inherit;
}

.gallery-document {
	display: inline-block;
	width: 150px;
	height: 200px;
	margin: 0;
	border: 3px solid #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-document figcaption {
	color: #000;
	background-color: #fff;
	width: 80%;
	margin: auto;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	max-height: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5px 5px 5px;
	opacity: .8;
	transition: opacity 300ms;
}

.folder .gallery-document figcaption {
	margin-top: 75px;
	border-radius: 20px;
	padding: 3px;
	width: 70%;
	transform: rotate(-5deg);
}

.gallery-link:hover figcaption {
	opacity: 1;
}

#detail-image-div {
	width: 100%;
	overflow-x: auto;
    text-align: center;
}

#detail-image {
	position: relative;
}

.commentDiv {
	display: inline-block;
}

.file-description {
    border: 1px dashed #70c641;
    border-radius: 10px;
    vertical-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

.file-description div {
    display: inline;
}

.file-infos {
    display: flex;
    justify-content: space-around;
}

.file-infos .likes{
    text-align: center;
}

/* Avatars */
.mini_avatar {
    width: 40px;
    height: 40px;
}